html, body {
    width: 100%;
    height: 100%;
}
.title {
  font-size: 10vh;
  margin-bottom: 0;
}
.header {
  background-color: #e4f1fe;
}
.middle {
  background-color: #8dc6ff;
  padding-bottom: 20px;
}
.inputText {
  width: 200px;
  background-color: #2C2F33;
  color: white;
  padding: 10px;
}
.inputTextHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.demo {
  width: 80%;
  max-width: 800px;
}
.turnThisHeader {
  margin-top: 10px;
}
.intoThisHeader {
  margin-top: 0px;
}
.buttonSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-color: #22313f;
}
.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #34495e;
}
.wump {
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
}